

/* 列表头，不带图片 */
.list .list-title{margin-top:5px;margin-bottom:10px;list-style:none; }
.list .list-title h2{font-weight: bold;font-size:14px;width:100%;text-align:center; margin-top: 0px; margin-bottom:10px;}
.list .list-title h2 a{display:inline;color:#666;float:none;}
.list .list-title h2 a:hover{text-decoration:underline;color:#de3237;}
.list .list-title p{font-size:12px;color:#696969;padding:0 10px;text-align:justify;text-justify:inter-ideograph;margin:0px 5px;text-indent:2em;}
.list .list-title p a{display:inline;color:#de3437;float:none;}
.list .list-title p a:hover{text-decoration:underline;}



/* 列表头，带图片 */
.list .list-title-pic{
	margin-top:5px;
	margin-bottom:15px;
	list-style:none;
	display:block; 
	min-height:113px;
	}
.list .list-title-pic .info {
	/* display:inline-block; */
	vertical-align:top;
	/* height:113px; */
	}


.list .list-title-pic .img{display:inline-block;width:140px;height:113px;float:left;margin-right:10px;}
.list .list-title-pic h2{font-weight: bold;font-size:14px;text-align:center; margin-top: 0px; margin-bottom:10px;}
.list .list-title-pic h2 a{display:inline;color:#666;float:none;}
.list .list-title-pic h2 a:hover{text-decoration:underline;color:#de3237;}
.list .list-title-pic p{font-size:12px;color:#696969;padding:0px 0px;text-align:justify;text-justify:inter-ideograph;margin:0px 0px;text-indent:2em;}
.list .list-title-pic p a{display:inline;color:#de3437;float:none;}
.list .list-title-pic p a:hover{text-decoration:underline;}


