<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"  
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
		xmlns:context="http://www.springframework.org/schema/context" 
		xmlns:aop="http://www.springframework.org/schema/aop" 
		xsi:schemaLocation="http://www.springframework.org/schema/beans        
			http://www.springframework.org/schema/beans/spring-beans.xsd  
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd">  
  	
  	<!-- 扫描测试类所在包 -->
  	<context:component-scan base-package="com.cnv.cms"/>
  	
  	<!-- datasource bean -->  
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<property name="url">
			<value>jdbc:mysql://121.248.54.247:3306/cnvcms</value>
		</property>
		<property name="username">
			<value>root</value>
		</property>
		<property name="password">
			<value>920526</value>
		</property>
	</bean>
	
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
 		<!--dataSource属性指定要用到的连接池-->
 		<property name="dataSource" ref="dataSource" />
 		<!--configLocation属性指定mybatis的核心配置文件--> 
    	<property name="configLocation" value="classpath:mybatisConfig.xml"/> 
    	
    	<!-- mapper配置路径 -->
	  <property name="mapperLocations" value="classpath*:com/cnv/cms/mapper/*-mapper.xml"></property>
	</bean>
	
	
	<!-- 注册包里所有的映射器 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
  		<property name="basePackage" value="com.cnv.cms.mapper" />
	</bean>
	
	
	<!-- CMS配置 -->
	<bean id="cmsConfig" class="com.cnv.cms.config.CmsConfig">
		<property name="Debug" value="true" />
  		<property name="ftpServer" value="121.248.54.247" />
  		<property name="filePath" value="files" />
  		<property name="ftpUser" value="ftptest" />
  		<property name="ftpPassword" value="ftptest" />
  		<property name="test" value="testt1" />
	</bean>
</beans> 