<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 整个包全部设置类别名 -->
    <typeAliases> 
        <package name="com.cnv.cms.model"/>
    </typeAliases> 
    <mappers>
        <!-- <mapper resource="com/cnv/cms/mapper/user-mapper.xml"/> -->
        <!-- <package name="com.cnv.cms.mapper"/> -->
    </mappers>
</configuration>