<?xml version="1.0" encoding="UTF-8"?>
<web-app > 

	<display-name>SpringMVC_01_HelloWorld</display-name>
	
  <welcome-file-list>  
    <welcome-file>/index.html</welcome-file>  
    <welcome-file>/index.jsp</welcome-file>  
  </welcome-file-list> 
  	
<context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath*:applicationContext.xml</param-value>
</context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    
	<servlet>  
	    <servlet-name>springmvc4</servlet-name>  
	    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>  
	    <load-on-startup>1</load-on-startup>  
	</servlet>  
	
	<servlet-mapping>  
	    <servlet-name>springmvc4</servlet-name>  
	    <url-pattern>/</url-pattern>  
	</servlet-mapping> 
	
</web-app>
